{% extends 'ethereum/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2>Dashboard</h2>
        <div class="card mb-3">
            <div class="card-header">
                Gas Price
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ gas_price.SafeGasPrice }} Gwei</h5>
                <p class="card-text">Propose Gas Price: {{ gas_price.ProposeGasPrice }} Gwei</p>
                <p class="card-text">Fast Gas Price: {{ gas_price.FastGasPrice }} Gwei</p>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header">
                ETH Price
            </div>
            <div class="card-body">
                <h5 class="card-title">${{ eth_price.ethusd }}</h5>
                <p class="card-text">Price in BTC: {{ eth_price.ethbtc }}</p>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header">
                Total Supply of ETH
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ total_supply }} ETH</h5>
            </div>
        </div>
    </div>
{% endblock %}
